body {
    background-image: url("https://preview.redd.it/b3jif8r7d7z61.png?width=3000&format=png&auto=webp&s=29a49676bd8faf92476465b57c131dd081a55b8b");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.70);
}

header>h1 {
    padding: 10px 10px;
    margin: 5px 5px;
}

nav,
nav>* {
    background-color: rgba(0, 0, 0, 0.70);
    text-decoration: none;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    border: 2px black solid;
    font-size: 20px;
    /* letter-spacing: 1px;*/
    font-weight: 500;
}

main {
    color: antiquewhite;
    border: 5px white solid;
}

main * {
    margin: 10px 15px;
}

section {
    display: flex;
    flex-flow: row wrap;
}

section>* {
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.70);
}

.forms h2 {
    color: rgb(255, 238, 0);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
}

h3 {
    color: whitesmoke;
    text-align: center;
}

footer {
    color: white;
    border: 5px white solid;
    text-align: center;
}

.track {
    border: 5px white solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
}

.stat {
    border: 5px white solid;
    display: flex;
    flex-flow: column wrap;
}

.stat>div {
    border: 2px white solid;
}

.settings {
    border: 3px white solid;
    width: 330px;
    float: left;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.70);
}

.globstat {
    display: flex;
}

.globstat>div {
    border: 2px white solid;
}

#optform {
    display: none;
}

#hiddenoptform {
    display: none;
}

#hiddenoptform>* {
    border: 2px white solid;
}

#loot {
    display: none;
}

#optinfosetting {
    border: 3px white solid;
    display: none;
}

#gamble {
    display: none;
}

#events {
    display: none;
}

.forms {
    margin: 0px auto 0px 364px;
    color: antiquewhite;
    align-items: center;
    flex-flow: column wrap;
    border: 5px white solid;
    justify-content: space-between;
    display: flex;
}