#rmonedr {
    display: none;
}

#rmtwodr {
    display: none;
}

#rmthreedr {
    display: none;
}

#rmfourdr {
    display: none;
}

#rmfive {
    display: none;
}

article {
    width: 90%;
    border: 4px white solid;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    color: white;
    min-height: 199px;
}

article>h2 {
    border: 2px white solid;
    height: 100%;
}